
footer {
    width: 100%;
    background-color: #000000;
    color: #ffffff;
    padding: 40px 6em;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 0.8em;
    //media
    @media screen and (max-width: 800px) {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}


.footer__logo {
    width: 50%;
    object-fit: contain;
    //media
    @media screen and (max-width: 800px) {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 2em;
        order: 1
    }
    img {
        width: 10em;
    }

}

.footer__contact{
    width: 50%;
    display: flex;
    margin-bottom: 25px;
    justify-content: flex-end;
    align-items: center;
    //media
    @media screen and (max-width: 800px) {
        width: 100%;
        display: flex;
        justify-content: center;
        order: 3;
        margin: 1em 0 2em 0;
    }
    a {
        position: relative;
        margin-left: 15px ;
         //media
        @media screen and (max-width: 800px) {
            margin: 0 0.8em;
        }
    }
    img {
        width: 1.5em;
    }
}


.footer__nav {
    flex: 1;
    //media
    @media screen and (max-width: 800px) {
        display: flex;
        flex-direction: column;
        order: 2;
        align-items: center;
    }
    a {
        margin-right: 20px;
        cursor: pointer;
        //media
        @media screen and (max-width: 800px) {
            margin: 0 0 1em 0;
        }
    }
}


.footer__copyright {
    color:  hsl(0, 0%, 41%);
    //media
    @media screen and (max-width: 800px) {
        order: 4;
    }
}




.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }